body{
  background-image: url('../images/background.png');
  background-position: center;
}

/* Colors */

.text-white{
  color: rgb(22, 85, 48);
}


/* Spacing */

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}

.padtop-30{
  padding-top: 30px;
}

.padleft-20{
  padding-left: 20px;
}

margin-b-5{
  margin-bottom: 5px;
}

/* Grid */
.grid-container{
  align-items: center;
  text-align: center;
}
.subgrid{
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  /* text-align: center; */
}
#welcome-heading{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#start{
  grid-column-start: 1;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.pad-10{
  padding: 10px;
}

/* Buttons */

button{
  background-color: rgba(255, 140, 0, 0.4);
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  margin-top: 5px;
  cursor:pointer;
  padding: 8px 5px;
  width: 260px;
  text-align: center;
}

button:hover {
  background-color: azure;
  color: rgb(22, 85, 48);
  border-color: #000000;
}

#next{
  width: auto;
  padding: 8px 10px;
  margin-bottom: 5px;
}

#start button{
  width: auto;
  padding: 8px 10px;
}

/* List of answers */
.selected {
  background-color: azure;
  color: rgb(22, 85, 48);
  border-color: #000000;
}

ul{
  list-style: none;
  text-align: center;
  padding-inline-start: 0px;
  
}

.container{
  width: 40vw;
  height: 100%;
  margin: 10vh auto;
  background-color: rgba(255, 255, 255, 0.6);
}

#quiz{
  display: none;
}

#question{
  padding-left: 2%;
  padding-right: 2%;
}


/* medias */

@media screen and (max-width: 480px){

  .container{
    width: 90vw;
  }
  button{
    background-color: rgba(255, 140, 0, 0.8);
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    margin-top: 5px;
    cursor:pointer;
    padding: 8px 5px;
    width: 260px;
    text-align: center;
  }
  ul{
    list-style: none;
    text-align: center;
  }

}

#category-image{
  width: 80%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}